---
interface Props {
  title: string;
  bodyClasses?: (string | undefined | false)[];
}
const { title, bodyClasses = [] } = Astro.props;
import "../styles/global.css";
import interLatinUrl from "@fontsource/inter/files/inter-latin-400-normal.woff2?url";
import archivoLatinUrl from "@fontsource-variable/archivo/files/archivo-latin-wght-normal.woff2?url";
import jetbrainsLatinUrl from "@fontsource/jetbrains-mono/files/jetbrains-mono-latin-400-normal.woff2?url";
import squadaLatinUrl from "@fontsource/squada-one/files/squada-one-latin-400-normal.woff2?url";
import lobsterLatinUrl from "@fontsource/lobster/files/lobster-latin-400-normal.woff2?url";
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Campamento Invernal de Programación Competitiva en Chile"
    />
    <title>CIPC{title && " - " + title}</title>
    <link rel="preload" href={interLatinUrl} as="font" type="font/woff2" crossorigin />
    <link rel="preload" href={archivoLatinUrl} as="font" type="font/woff2" crossorigin />
    <link rel="preload" href={jetbrainsLatinUrl} as="font" type="font/woff2" crossorigin />
    <link rel="preload" href={squadaLatinUrl} as="font" type="font/woff2" crossorigin />
    <link rel="preload" href={lobsterLatinUrl} as="font" type="font/woff2" crossorigin />
    <slot name="head" />
    <script src="../lib/theme.ts"></script>
  </head>
  <body class:list={bodyClasses}>
    <slot />
  </body>
</html>
